<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hamza Qureshi</title>

    <!-- google fonts -->
    <!-- <link href="//fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap" rel="stylesheet"> -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="css/style-starter.css">
  </head>

  <body>
    <!-- header -->
    <header id="site-header" class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand" href="/index">
            <span class="fa fa-laptop"></span> Hamza Qureshi
          </a>
          <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item @@about__active">
                <a class="nav-link" href="#aboutmehamza">About</a>
              </li>
              <li class="nav-item @@contact__active">
                <a class="nav-link" href="#contactmehamza">Contact</a>
              </li>
            </ul>
          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
    <!-- //header -->

    <!-- banner section -->
    <section id="home" class="Hz_banner py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-12 mt-lg-0 mt-4">
            <span class="title-small">Hello</span>
            <h1 class="mb-2 title"> <span>I'm</span> Hamza </h1>
            <h1 class="mb-4 title"> a <span class="typed-text"></span><span class="cursor">&nbsp</span></h1>
            <p class="style">
              <span>If you are not willing to risk the usual, you will have to settle for the
                ordinary.<br><br></span>_Thomas Jefferson
            </p>
            <div class="mt-sm-5 mt-4">
              <a class="btn btn-primary btn-style mr-2" href="#contactmehamza"> Hire Me </a>
              <a class="btn btn-outline-primary btn-style mr-2" href="images/hamzaQureshi.pdf" target="_blank"> Portfolio </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="img-effect text-lg-center img_adjust">
              <img src="images/user1.jpg" alt="myphoto" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //banner section -->
    <!-- home page about section -->
    <section class="w3l-index3" id="about">
      <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="position-relative img_adjust2" id="imgAdjust">
                <img src="images/author2.jpg" alt="" class="radius-image img-fluid">
              </div>
            </div>
            <div class="col-lg-8 mt-lg-0 mt-5">
              <h5 class="title-small mb-2">Who am i?</h5>
              <h3 class="bold">I'm Hamza Qureshi, a visual UI/UX Designer and <span class="title-big color">MERN
                  Stack</span> Web Developer</h3>
              <p class="mt-4">If you’re a student or a professional looking to get ahead, you need a website. <b> It’s your chance to establish an online home base,</b> impress recruiters, and provide something that will set you apart from the stacks of static resumes that everyone else is submitting for job applications.

But creating your own website can be overwhelming. Mern Development is an Effective way to develope attractive websites, the possibilities for design, layout, and text are nearly endless. </p>
              <a href="images/hamzaQureshi.pdf" target="_blank" class="btn btn-style btn-primary mt-lg-5 mt-4">Download CV</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //home page about section -->

    <!-- home page second section -->
    <div class="py-5 Hz_foundation">
      <div class="container py-lg-5 py-3">
        <h5 class="title-small mb-2"> My resume</h5>
        <h3 class="title-big mb-4">I Would Love to make your Ideas real </h3>
        <p>I love Graphic Designing and Web Development and have been working on my expertise since 2018. You can download my
          resume in order to learn the details of my professional life as a designer and Mern Stack Developer. Contact me and
          we will discuss your projects!</p>
        <div class="mt-5">
          <a href="#contactmehamza" class="btn btn-style btn-primary">Let's Start</a>
        </div>
      </div>
    </div>
    <!-- //home page second section -->

    <!-- home page services section -->
    <section class="Hz_services">
      <div class="blog py-5" id="services">
        <div class="container py-lg-5">
          <h5 class="title-small text-center" id="textWork">Services</h5>
          <h3 class="title-big text-center mb-sm-5 mb-4">What I do for you</h3>

<div class="serviceContainer">
          <div class="card " id="cardDesing" style="width: 18rem;">
            <img src="images/design.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">UI / UX Designs</h5>
              <p class="card-text">User Friendly website designs. <br>Responsive <br> Bootstrap Websites.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" id="cardDesing" style="width: 18rem;">
            <img src="images/doublepc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web / Mern Development</h5>
              <p class="card-text">Pure JavaScript used in both clien-side and server-side code. A Modern way to developing a website.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" id="cardDesing" style="width: 18rem;">
            <img src="images/g3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Database</h5>
              <p class="card-text"><b>MongoDb, </b>
              Flexible document schemas. 
Code-native data access. 
Powerful querying & analytics.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          

          <div class="card" id="cardDesing" style="width: 18rem;">
            <img src="images/camera2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Graphic Designing</h5>
              <p class="card-text">A professional visual Graphic Designs to communicate. Employee pride and productivity.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
 
          <div class="card"id="cardDesing" style="width: 18rem;">
            <img src="images/singlepc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Research & Analysis</h5>
              <p class="card-text"> improves services and treatments, discovering & exploring. Develop new tests for diagnosis & treatments</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> 
          </div>
          </div>


          
        </div>
      </div>
    </section>
    <!-- //home page services section -->
    

    {{!-- about page --}}
<a id="aboutmehamza"></a>
    <section class="Hz3-aboutblock1" id="about">

  <div class="cusrtomer-layout py-5 unusedmargin" >
        <div class="container py-lg-5 py-md-4">
          <div class="heading text-center mx-auto">
            <h6 class="title-small text-center " id="textWork">About Me</h6>
            
          </div>
          <!-- /grids -->
          
        </div>
        <!-- /grids -->
      </div>

        <div class="container py-lg-5 py-md-3 " >
            <div class="row">
                <div class="col-lg-4">
                    <div class="position-relative">
                        <img src="images/author.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-5">
                    <h5 class="title-small mb-2">Hello, I am Mern Stack Developer</h5>
                    <h3 class="title-big">Having O2 Years of Experience</h3>
                    <p class="mt-4"> I am a undergraduate student in the Department of Computer Science at MNSUAM. I have an E-commerce G-Certificate from Exclusive International College.</p>
                    <div class="my-info mt-4">
                        <div class="single-info"><span>Name:</span>
                            <p>Hamza Qureshi</p>
                        </div>
                        <div class="single-info"><span>Age:</span>
                            <p>22 Years</p>
                        </div>
                        <div class="single-info"><span>From:</span>
                            <p>Multan, PK</p>
                        </div>
                        <div class="single-info"><span>Email:</span>
                            <p><a href="mailto:alexander@mail.com">noman97301@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="my-social mt-lg-5 mt-4">
                        <a href="images/hamzaQureshi.pdf" target="_blank" class="btn btn-style btn-primary">Download CV</a>
                        <ul class="social m-0 p-0">
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                            <li><a href="#"><span class="fa fa-facebook-official"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
        </a>
</section>


{{!-- about page end here --}}








    <!-- freelance hire me -->
    <section class="Hz_quote text-center py-5">
      <div class="container py-3">
        <h6 class="title-small">Get in touch</h6>
        <h3 class="title-big mb-md-5 mb-4">Let's start a Project! Hire Me.</h3>
        <a href="#contactmehamza" class="btn btn-style btn-primary mr-2">Hire Me </a>
        <a href="#contactmehamza" class="btn btn-style btn-outline-primary">Get in touch</a>
      </div>
    </section>
    <!-- //freelance hire me -->






{{!-- contact page --}}

<section class="Hz3-contact-1 py-5" id="contactmehamza">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="d-grid contact-view">
                <div class="cont-details">
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Call Me</h6>
                            <p><a href="tel:+3170816287">+92 317 081 62 87</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Email Me</h6>
                            <p><a href="mailto:example@mail.com" class="mail">noman97301@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Location</h6>
                            <p>Wahdat Colony </p>
                        </div>
                    </div>
                </div>
                <div class="map-content-9">
                    <form action="/postmessage" method="POST" id="formfocus">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="username" id="Hz3Name" placeholder="Name"
                                required="">
                            <input type="email" class="form-control" name="email" id="Hz3Sender" placeholder="Email"
                                required="">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control" name="subject" id="Hz3Subject"
                                placeholder="Subject" required="">
                        </div>
                        <textarea name="message" class="form-control" id="Hz3Message"placeholder="Message"
                            required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary btn-style mt-4">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- contact page end --}}






    <!-- Footer -->
    <section class="Hz_footer py-sm-5 py-4">
      <div class="container">
        <div class="footer-content">
          <div class="row">
            <div class="col-lg-8 footer-left">
              <p class="m-0">Hamza © Copyright 2020. Design by <a href="#">Hz_Foundation</a></p>
            </div>
            <div class="col-lg-4 footer-right text-lg-right text-center mt-lg-0 mt-3">
              <ul class="social m-0 p-0">
                <li><a href="#facebook"><span class="fa fa-facebook-official"></span></a></li>
                <li><a href="#linkedin"><span class="fa fa-linkedin-square"></span></a></li>
                <li><a href="#instagram"><span class="fa fa-instagram"></span></a></li>
                <li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- move top -->
      <button id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script src="js/functions.js"></script>
      <!-- /move top -->
    </section>
    <!-- //Footer -->

    <script src="js/theme-change.js"></script><!-- theme switch js (light and dark)-->

    <script src="js/jquery-3.3.1.min.js"></script><!-- default jQuery -->

    <!-- /typig-text-->

    <!-- //typig-text-->

    <!-- services owlcarousel -->
    <script src="js/owl.carousel.js"></script>
    <!--//MENU-JS-->

    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

  </body>

</html>